services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db
    working_dir: /root

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - app
    volumes:
      - ./nginx/certs/api.apr.cert.pem:/etc/ssl/certs/api.apr.cert.pem:ro
      - ./nginx/certs/api.apr.key.pem:/etc/ssl/certs/api.apr.key.pem:ro
      - /tmp/apr-nginx-logs:/var/log/nginx
    ports:
      - '443:443'
    environment:
      - REST_API_SERVICE_NAME=app
      - REST_API_SERVICE_PORT=8080
      - REST_API_SUBDOMAIN_PREFIX=${REST_API_SUBDOMAIN_PREFIX}
      - HTTP_SERVER_HOST=${HTTP_SERVER_HOST}
      - NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates/ssl
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/sites-available

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
